html, body{
     
    margin: 0px 0px 0px 0px; /* top - right -button - left */
    height: 100%;
   /* font-size: 12px; is the default value */
}

/* MAIN CONTAINERS */
#container {
	 
	width: 100vw;
 	height:10vh;
}

#header {
	background-color: #009999;
	width: 100vw;  
	height: 12vh;
	line-height: 12vh;
	font-size: 2em;
	text-align: center;
}

#footer {
	width: 100vw;  
	text-align: center;
	background-color: #009999;
	float:left;
	height: 4vh;
}



/* COLUMS */
#leftColumn{
	width:20vw;
	float: left;
	background-color: orange;
	height: 76vh;
}

#bodycontent{
	width:60vw;
	float: left;
	background-color: #cccccc;
	height: 76vh;
}

#rightColumn{
	width:20vw;
	float: left;
	background-color: green;
	height: 76vh;
}


/* BOXES */
.adverticing{
	width: 15vw;
	border:1px solid black;
	background-color: #cccccc;
	margin: 0 auto;
	margin-top: 2vh;
	height: 20vh;
	line-height: 20vh;
	text-align: center;
	font-size: 2em;
}


.box{

	width: 22vw;
	height: 20vh;
    line-height: 20vh;
	border:1px solid black;
	display: inline-block;
	background-color: #cccccc;
	text-align: center;
	margin: 2vh 4vh 2vh 8vh;
	font-size: 1.5em;
}

 
.centralBox{
	 
	font-size: 2em;
	height: 20vh;
    line-height: 20vh;
	text-align: center;
	border:1px solid black;
	background-color: red;
	width: 55vw;
	margin: 2vh auto;
}

.category{
	background-color: #cccccc;
	width: 14vw; 
	height: 7vh;
    line-height: 7vh;
	font-size: 1.5rem;
	text-align: center;
	margin: 2vh auto  ;

}


/* MENU  */
#menu{
	 
	list-style-type: none;
    background-color: #333;
    text-transform: uppercase;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    border: 0px solid white;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 1rem 1rem;
    text-decoration: none;
}

li a:hover {
    background-color: #cccccc;
    color:black;
}


.active{
	background-color: #cccccc;
	color:black;
} 
 
#logout{
	float:right;
}
#logoutMobile {
	display: none;
}
 

/* 
  ##Device = Mobiles (portrait)
*/
@media (min-width: 353px) and (max-width: 450px) and (orientation: portrait)  {
  	
  	/* COLUMS */
	#leftColumn{
		width:100vw;
		height: 40vh;	 
	}


	#bodycontent{
		width:100vw;
		height: 70vh;	 
	}

	#rightColumn{
		width:100vw;
	}

	/* MENU */
	#logout , #about{
		display: none;
	}

	
	/* BOXES */
 	.centralBox{
 		width:100vw;
		margin: 0 0 0 0;
		text-transform: uppercase;
 	}

 	.box{
 		margin: 2vh 2vw 2vh 8vw;  /* top - right - bottom  -left */
 		width:35vw;
 		text-transform: uppercase;
 	}

 	.category{
 		width:80vw;
 		font-size: 1.5rem;
 		text-transform: uppercase;
 	}

 	.adverticing{
		margin-top: 4vh;
		width: 90%;
		text-transform: uppercase;
	}
	#logoutMobile {
		float:right;
		display: inline-block;
		font-size: 1rem;
		margin-top: -4vh;
		margin-right: 1vh;

	}


}


/* 
  ##Device = Mobiles (landscape)
*/
@media (min-width: 412px) and (max-width: 732px ) and (orientation: landscape)  {
  
 	.box{
 		 
 		width:80%;
 		margin:3vh 10vw 4vh 10vw;  /* top - right - bottom  -left */

 	}

 	#leftColumn{
		width:100%;
		height: 30vh;
		font-size: 3rem;
		height: 40vh;

	}
	.category{
 		font-size: 1.4rem; /* 16px */
 		width: 50%;
 		margin: 2vh  auto; /* center */
 		text-transform: uppercase;
 	}

 	.centralBox{
 		width: 100%;
		margin: 0 0 0 0; 
 	}

 	#rightColumn{
		width:100%;
	}

 	#bodycontent{
		width:100%;
		height: 140vh;
		 
	}

	.adverticing{
		margin-top: 4vh;
		width: 90vw;
		text-transform: uppercase;
	}

 


}
